<div class="div-float">
  <h3>{{login}}</h3>
  <form class="logIn-form">
    <mat-form-field class="input-full-width">
    <input matInput class="form-control" placeholder="{{userName}}" formControlName="loginUserName" required/>
  </mat-form-field><br>
  <mat-form-field class ="input-full-width">
    <input matInput class="form-control" placeholder="{{password}}" type="password" formControlName="loginPassword" required/>
    </mat-form-field><br>
    <button mat-button [routerLink]="['Home']">{{login}}</button><br><br>
    <a href="#">{{newLogin}}</a>
  </form>
</div>

