<div class="container">
<form [formGroup]="membershipForm">
  <div class="row">
<label class="header-title">Create A New Member</label>
</div>
<div class="row">
<mat-form-field>
  <input matInput type="text" placeholder="First Name" formControlName="ctrlFirstName" required="First Name is Required"/>
</mat-form-field>
<mat-form-field>
  <input matInput type="text" placeholder="Last Name" formControlName="ctrlLastName" required="Last Name is Required"/>
</mat-form-field>
</div>
<div class="row">
<mat-form-field >
  <input matInput type="email" placeholder="Email" formControlName="ctrlEmail" required="Email is Required"/>
</mat-form-field>
<mat-form-field>
  <input matInput type="number" placeholder="Phone" maxlength="10" formControlName="ctrlPhone" required="Phone Number is Required"/>
</mat-form-field>
</div>

<div class="row">
  <mat-form-field>
    <textarea placeholder="Address" formControlName="ctrlAddress" matInput required="Address"></textarea>
  </mat-form-field>
  </div>
<button mat-button type="submit" class="primary" [disabled]="! membershipForm.valid" (click)="testData()">Create</button>
<button mat-button type="button" class="danger" (click)="reset()"> Clear </button>
</form>
</div>
