mat-form-field{
  width: 500px;
  padding-left: 10px;
}
.header-title{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: maroon;
  font-size: medium;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
}
