.applicationTittle{
color:seagreen;
text-align: center;
float: left right;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.login-float{
  float:left right;
}
.div-float{
  display:flex;
  align-items:center;
  justify-content:center;
  height:50vh;
}
